<!-- templates/empleados/cambiar_password.html -->
{% extends "base.html" %}

{% block contenido %}
<div class="container-CPsswd">
    <h2 class="CC-Password"> Cambiar Contraseña : </h2>
    <h2 class="CC-Passwords"> {{ empleado.nombre }} {{ empleado.apellido }}</h2>
    
    
    <form method="POST" class="CPsswd">
        {% csrf_token %}
        <div class="form-group-CPsswd">
            <label for="nueva_password">Nueva Contraseña</label>
            <input type="password" 
                   class="form-control" 
                   id="nueva_password" 
                   name="nueva_password" 
                   required>
        </div>
        
        <div class="form-CPsswd">
            <label for="confirmar_password">Confirmar Contraseña</label>
            <input type="password" 
                   class="form-control" 
                   id="confirmar_password" 
                   name="confirmar_password" 
                   required>
        </div>
        
        <div class="CP-CPsswd">
            <button type="submit" class="btn-cambiarCña">Cambiar Contraseña</button>
            <a href="{% url 'empleados' %}" class="btn-cancelarCña">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}